<div class="container">
  <div class="flex background" *ngIf="weatherObject; else noWeather">
    <p>Temperature: {{ weatherObject.current.temp_c }} °C</p>
    <p>Feels like: {{ weatherObject.current.feelslike_c }} °C</p>
    <img [src]="weatherObject.current.condition.icon" />
    <p>{{ weatherObject.location.localtime | date: "shortTime" }}</p>
    <p>
      {{ weatherObject.location.name }}, {{ weatherObject.location.country }}
    </p>
    <button mat-button color="primary" (click)="wrongLocation()">
      Wrong Location?
    </button>
    <div *ngIf="locationWrong" class="flex">
      <input
        type="text"
        placeholder="Enter correct location"
        [(ngModel)]="userLocation"
        (keyup.enter)="getCorrectLocation()"
      />
      <button mat-raised-button color="primary" (click)="getCorrectLocation()">
        Get new location
      </button>
    </div>
  </div>

  <ng-template class="container" #noWeather>
    <p>We can't get weather data for you right now</p>
  </ng-template>
</div>
