<div class="container">
  <div class="grid" *ngIf="weatherObject; else noWeather">
    <p>Temperature: {{ weatherObject.current.temp_c }} °C</p>
    <p>Feels like: {{ weatherObject.current.feelslike_c }} °C</p>
    <img [src]="weatherObject.current.condition.icon" />
    <p>{{ weatherObject.location.localtime | date: "shortTime" }}</p>
    <p>
      {{ weatherObject.location.name }}, {{ weatherObject.location.country }}
    </p>
  </div>

  <ng-template class="container" #noWeather>
    <p>We can't get weather data for you right now</p>
  </ng-template>
</div>
