/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@550&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Barlow", sans-serif;
}
